#map {
  height: 100vh; /* Adjusted to fill the viewport height */
  width: 100%;
}

.search-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 1000;
  display: flex;
  gap: 10px; /* Add gap between elements */
}

.search-bar input {
  flex: 8;
}

.search-bar button {
  flex: 2;
}

.bottom-sheet {
  position: fixed;
  bottom: -77%; /* Adjusted initial position */
  left: 0;
  right: 0;
  height: 80%; /* Set height to 80% of the viewport height */
  z-index: 1000;
  background-color: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: transform 0.3s ease, bottom 0.3s ease;
}

.bottom-sheet-handle {
  width: 50px;
  height: 5px;
  background-color: #ccc;
  border-radius: 3px;
  margin: 10px auto;
  cursor: pointer;
  display: block;
}

.bottom-sheet-content {
  padding: 20px;
  height: 100%;
  overflow: scroll;
}

.bottom-sheet.show {
  bottom: 0; /* Ensures the bottom sheet slides up to this position */
}

.chip-container {
  margin-top: 5px;
  margin-bottom: 10px;
}

.chip {
  display: inline-block;
  margin-top: 10px;
  margin-right: 7px;
}

.chip input[type="checkbox"] {
  display: none;
}

.chip label {
  display: inline-block;
  padding: 8px 12px;
  background-color: #f0f0f0;
  border-radius: 20px;
  cursor: pointer;
}

.chip input[type="checkbox"]:checked + label {
  background-color: #007bff;
  color: white;
}

.button-container {
  position: absolute;
  top: 45px;
  left: 10px;
  right: 10px;
  z-index: 1000;
  display: flex;
  gap: 10px; /* Add gap between elements */
  padding: 5px;
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;  /* IE와 Edge에서 스크롤바 숨기기 */
  scrollbar-width: none;  /* Firefox에서 스크롤바 숨기기 */
}

.float-chip {
  display: inline-block;
  margin-top: 10px;
  margin-right: 7px;
}

.float-chip input[type="radio"] {
  display: none;
}

.float-chip label {
  display: inline-block;
  padding: 8px 12px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  box-shadow: 0px 2px 5px gray;
}

.float-chip input[type="radio"]:checked + label {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: white;
}