#map {
  height: 100vh;
  width: 100%;
}

.search-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 1000;
  display: flex;
  gap: 10px;
}

.search-bar input {
  flex: 8;
}

.search-bar button {
  flex: 2;
}

.bottom-sheet {
  position: fixed;
  bottom: -77%;
  left: 0;
  right: 0;
  height: 80%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: transform 0.3s ease, bottom 0.3s ease;
}

.bottom-sheet-handle {
  width: 50px;
  height: 5px;
  background-color: #ccc;
  border-radius: 3px;
  margin: 10px auto;
  cursor: pointer;
  display: block;
}

.bottom-sheet-content {
  padding: 20px;
  height: 100%;
  overflow: scroll;
}

.bottom-sheet.show {
  bottom: 0;
}

.result-item {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.chip-container {
  margin-top: 5px;
  margin-bottom: 10px;
}

.chip {
  display: inline-block;
  margin-top: 10px;
  margin-right: 7px;
}

.chip input[type="checkbox"] {
  display: none;
}

.chip label {
  display: inline-block;
  padding: 8px 12px;
  background-color: #f0f0f0;
  border-radius: 20px;
  cursor: pointer;
}

.chip input[type="checkbox"]:checked + label {
  background-color: #007bff;
  color: white;
}

.button-container {
  position: absolute;
  top: 45px;
  left: 10px;
  right: 10px;
  z-index: 1000;
  display: flex;
  gap: 10px;
  padding: 5px;
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none; /* IE와 Edge에서 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

.float-chip {
  display: inline-block;
  margin-top: 10px;
  margin-right: 7px;
}

.float-chip input[type="radio"] {
  display: none;
}

.float-chip label {
  display: inline-block;
  padding: 8px 12px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  box-shadow: 0px 2px 5px gray;
}

.float-chip input[type="radio"]:checked + label {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: white;
}

.customoverlay {
  position: relative;
  bottom: 85px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
}
.customoverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.customoverlay a {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  background: #d95050;
  background: #d95050
    url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png)
    no-repeat right 14px center;
}
.customoverlay .title {
  display: block;
  text-align: center;
  background: #fff;
  margin-right: 35px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
}
.customoverlay:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
